<h3>Login</h3>


<nb-card>
  <nb-card-body class="example-items-rows">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <nb-form-field>
        <label for="username">
          Username
        </label>
        <input nbInput id="username" type="text" formControlName="username">
      </nb-form-field>

      <nb-form-field>
        <label for="password">
          Password
        </label>
        <input nbInput id="password" type="password" formControlName="password">
      </nb-form-field>

      <button nbButton type="submit">Login</button>

    </form>
  </nb-card-body>
</nb-card>

