<nb-layout>
    <nb-layout-column>
        <nb-card>
            <nb-card-body>
                <table [nbTreeGrid]="runs$ | async" equalColumnsWidth>

                    <tr nbTreeGridRow [clickToToggle]="false" *nbTreeGridRowDef="let row; columns: tableColumns"></tr>

                    <ng-container *ngFor="let column of tableColumns" [nbTreeGridColumnDef]="column">
                        <td nbTreeGridCell class="workspaceRow" (click)="onWorkspaceClick(row)" *nbTreeGridCellDef="let row">
                            <div *ngIf="column == 'icon'; then runIcon; elseif column == 'runStatus'; then runStatusColumn; else defaultColumn"></div>
                            <ng-template #runIcon>
                                <nb-icon [icon]="row.data[column].getIcon()"></nb-icon>
                            </ng-template>
                            <ng-template #runStatusColumn>
                                <nb-tag size="small" [status]="row.data[column].getColor()" appearance="outline" [text]="row.data[column].getName()">
                                </nb-tag>
                            </ng-template>
                            <ng-template #defaultColumn>
                                {{row.data[column]}}
                            </ng-template>
                        </td>
                    </ng-container>

                </table>
            </nb-card-body>

        </nb-card>
    </nb-layout-column>
</nb-layout>