.row-icon {
    max-width: 50px;
    min-width: 50px;
}
.runRow {
    cursor: pointer;
}
.runRow:hover {
    background-color: #444444;
    color: #dddddd;
}

.active-run {
    background-color: #F0FAFF;
}
