


<nb-card>
    <nb-card-header>Create Module</nb-card-header>
    <nb-card-body>
      <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
  
        <nb-form-field>
          <label for="username">
            Username
          </label>
          <input nbInput id="username" type="text" formControlName="username">
        </nb-form-field>
  
        <nb-form-field>
          <label for="password">
            Password
          </label>
          <input nbInput id="password" type="password" formControlName="password">
        </nb-form-field>
  
        <button nbButton type="submit">Create</button>
  
      </form>
    </nb-card-body>
  </nb-card>
  
  