
<nb-card [accent]="_runStatus ? _runStatus.getColor() : ''">
    <nb-card-header>Run: {{_runDetails ? _runDetails.id : ''}}</nb-card-header>
    <nb-card-body>
        <table id="runDetailsTable">
            <tr>
                <td>Status: </td>
                <td>{{_runStatus ? _runStatus.getName() : ""}}</td>
            </tr>
            <tr>
                <td>Started at: </td>
                <td>{{_runDetails ? _runDetails.attributes["created-at"] : ""}}</td>
            </tr>
            <tr>
                <td>Started by: </td>
                <td>{{_createdByDetails ? (_createdByDetails.attributes.username || 'Unknown') : ''}}</td>
            </tr>
            <tr>
                <td>Has changes: </td>
                <td>{{_runDetails ? (_runDetails.attributes["has-changes"] ? 'Yes' : 'No') : ''}}</td>
            </tr>
            <tr>
                <td>Actions</td>
                <td>
                    <button nbButton (click)="applyRun()" *ngIf="applyActionAvailable()">
                        Apply
                    </button>
                    <button nbButton (click)="cancelRun()" *ngIf="cancelActionAvailable()">
                        Cancel
                    </button>
                </td>
            </tr>
        </table>
    </nb-card-body>
</nb-card>


<nb-accordion>

    <nb-accordion-item>
        <nb-accordion-item-header>
            Events
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <table id="runEventTable">
                <tr *ngFor="let event of _auditEvents">
                    <td>{{ event.timestamp }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.user }}</td>
                </tr>
            </table>
        </nb-accordion-item-body>
    </nb-accordion-item>

    <nb-accordion-item *ngIf="_prePlanTaskStage">
        <nb-accordion-item-header style="padding: 0;">
            <nb-alert style="width: 100%; height: 100%" [accent]="_prePlanTaskStage.getColor()">Pre-plan tasks</nb-alert>
        </nb-accordion-item-header>
        <nb-accordion-item-body>

            <nb-accordion>
                <nb-accordion-item *ngFor="let preplanTask of (_prePlanTaskStage.getTaskResults() | async)">
                    <nb-accordion-item-header style="padding: 0;">
                        <nb-alert style="width: 100%; height: 100%" [accent]="preplanTask.getColor()">Task: {{(preplanTask.getTitle() | async)}}</nb-alert>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <!-- <div [innerHTML]="preplanTask.getMessage() | async">
                        </div> -->
                    </nb-accordion-item-body>
                </nb-accordion-item>
            </nb-accordion>
        </nb-accordion-item-body>
    </nb-accordion-item>

    <nb-accordion-item *ngIf="_planDetails">
        <nb-accordion-item-header style="padding: 0;">
            <nb-alert style="width: 100%; height: 100%" [accent]="_planStatus.getColor()">Plan: {{_planDetails.id}}</nb-alert>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <div [innerHTML]="_planLog">
            </div>
        </nb-accordion-item-body>
    </nb-accordion-item>

    <nb-accordion-item *ngIf="_applyDetails">
        <nb-accordion-item-header style="padding: 0;">
            <nb-alert style="width: 100%; height: 100%" [accent]="_applyStatus.getColor()">Apply: {{_applyDetails.id}}</nb-alert>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <div [innerHTML]="_applyLog"></div>
        </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>