
<h2>Terraform tokens</h2>

<table>
    <thead>
        <th>Description</th>
        <th>Created</th>
        <th>Last used</th>
    </thead>
    <tbody>
        <tr *ngFor="let token of tokens">
            <td>{{ token.attributes.description }}</td>
            <td>{{ token.attributes['created-at'] }}</td>
            <td>{{ token.attributes['last-used-at'] }}</td>
        </tr>
    </tbody>
</table>


<h3>Create token</h3>

<form [formGroup]="createTokenForm" (ngSubmit)="onCreateTokenFormSubmit()">

  <div>
    <label for="newTokenDescription">
      Description
    </label>
    <input id="newTokenDescription" type="text" formControlName="description">
  </div>

  <button class="button" type="submit">Create</button>

</form>

<span *ngIf="createdToken">
    Created token: <pre><code>{{createdToken.attributes.token}}</code></pre>
</span>