<nb-layout>

  <nb-layout-header fixed>
    <nb-icon (click)="toggleSidebar()" class="sidebar-toggle" icon="menu-2-outline"></nb-icon>
    <h2>Terrarun</h2>
  </nb-layout-header>

  <nb-sidebar class="menu-sidebar" responsive start>
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>

  <nb-layout-column id="router-content">
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed class="footer-fixed">
    Made with &#10084; - <a href="https://gitlab.dockstudios.co.uk/pub/terrarun">Terrarun</a>
  </nb-layout-footer>

</nb-layout>
