<nb-layout>
  <nb-layout-column>

    <nb-card>
      <nb-card-header>Project: {{(currentProjectObv | async)?.name}}</nb-card-header>
    </nb-card>

    <nb-card>
      <nb-card-header>Runs</nb-card-header>
      <nb-card-body>
        <table id="runsTable">
          <tr>
            <th></th>
            <th *ngFor="let workspaceId of workspaceList">
              {{(workspaces.get(workspaceId) | async)?.data.attributes.environment}}
            </th>
          </tr>
          <tr *ngFor="let ingressAttribute of ingressAttributes | keyvalue">
            <td style="max-width: 500px">
              {{ ingressAttribute.value.attributes['commit-sha'].substr(0, 12) }}
              <br />
              {{ ingressAttribute.value.attributes['commit-message'].substr(0, 100) }}{{ingressAttribute.value.attributes['commit-message'].length > 100 ? '...' : ''}}
            </td>
            <td class="runsTableRowTd" *ngFor="let workspaceId of workspaceList" [class]="getRunClass(ingressAttribute.key, workspaceId)" (click)="onRunClick(ingressAttribute.key, workspaceId)">

              <ng-container *ngIf="ingressAttributesRuns[ingressAttribute.key] && ingressAttributesRuns[ingressAttribute.key][workspaceId]; else notRunTd">
                {{ingressAttributesRuns[ingressAttribute.key][workspaceId].attributes['created-at']}}
                <br />

                <nb-icon [icon]="getRunStatusIcon(ingressAttributesRuns[ingressAttribute.key][workspaceId].attributes.status)"></nb-icon>
                {{getRunStatusName(ingressAttributesRuns[ingressAttribute.key][workspaceId].attributes.status)}}
              </ng-container>
              <ng-template #notRunTd>
                Not Run
              </ng-template>
            </td>
          </tr>
        </table>
      </nb-card-body>
  </nb-card>

    <nb-card>
        <nb-card-header>Environment Workspaces</nb-card-header>
        <nb-card-body>
            <nb-card size="tiny">
                <nb-card-header>
                  Select Environment
                </nb-card-header>
                <nb-list>
                  <nb-list-item class="workspaceRow" (click)="onWorkspaceClick(workspaceId)" *ngFor="let workspaceId of workspaceList">
                    <ng-container *ngIf="workspaces.get(workspaceId) | async">{{(workspaces.get(workspaceId) | async)?.data.attributes.environment}}</ng-container>
                  </nb-list-item>
                </nb-list>
              </nb-card>
        </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Settings</nb-card-header>
      <nb-card-body>
        <form [formGroup]="generalSettingsForm" (ngSubmit)="onGeneralSettingsSubmit()">
          <label for="execution-mode"><b>Execution mode</b></label><br />
          <nb-select id="execution-mode" formControlName="executionMode">
            <nb-option value="remote">Remote</nb-option>
            <nb-option value="agent">Agent</nb-option>
            <nb-option value="local">Local</nb-option>
          </nb-select>
          <br /><br />
          Remote/Agent will execute Terraform remotely in Terrarun, either on global workers or assigned agent pools.<br />
          Local execution will run Terraform locally on the workstation with only state being managed by Terrarun.<br />
          In local execution mode, all VCS integration is ignored.<br />
        
          <br />

          <terraform-version-select [(value)]="generalSettingsTerraformVersion">
          </terraform-version-select>
          <br /><br />


          <button nbButton type="submit">Update</button>
        </form>
      </nb-card-body>
    </nb-card>

    <app-vcs-selection (onChangeVcs)="onChangeVcs($event)" [vcsConfig]="projectDetails?.data.attributes"></app-vcs-selection>
  </nb-layout-column>
</nb-layout>