.workspaceRow {
    cursor: pointer;
}
.workspaceRow:hover {
    background-color: #444444;
    color: #dddddd;
}

#runsTable tr {
    margin: 0px;
    padding: 0px;
}
#runsTable td {
    border: 1px solid #999999;
    padding: 15px;
    margin: 0px;
}
.runsTableRowTd {
    cursor: pointer;
}

.run-status-danger {
    background-color: #FFD1D1;
}

.run-status-danger:hover {
    background-color: #EFC1C1;
}

.run-status-basic {
    background-color: #93D2FF;
}

.run-status-basic:hover {
    background-color: #83C2EF;
}

.run-status-warning {
    background-color: #FFEDD1;
}
.run-status-warning:hover {
    background-color: #EFDDC1;
}

.run-status-success {
    background-color: #D2FFD1;
}
.run-status-success:hover {
    background-color: #C2EFC1;
}