<nb-layout>
  <nb-layout-column>

    <table [nbTreeGrid]="rowData">

      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr nbTreeGridRow [clickToToggle]="false" *nbTreeGridRowDef="let row; columns: allColumns"></tr>

      <!-- Name column -->
      <ng-container *ngFor="let column of nameColumn; let index = index" [nbTreeGridColumnDef]="column">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
          Group/Environment Name
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <ng-container *ngIf="row.data.type == 'lifecycle-environments'; else lifeCycleGroupName">Environment:
            {{row.data.attributes['environment-name']}}</ng-container>
          <ng-template #lifeCycleGroupName>
            Environment Progression Group {{row.data.attributes.order}}
          </ng-template>
        </td>
      </ng-container>

      <!-- Action column -->
      <ng-container *ngFor="let column of actionColumn; let index = index" [nbTreeGridColumnDef]="column">
        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
          Actions
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <ng-container *ngIf="row.data.type == 'lifecycle-environments'; else lifeCycleGroupActions">
            Remove environment from Lifecycle Group<br />
            <button nbButton size="small" status="danger">Remove</button>
          </ng-container>
          <ng-template #lifeCycleGroupActions>

            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>Progression Rules</nb-accordion-item-header>
                <nb-accordion-item-body>
                  <span>
                    Define rules that will allow a VCS commit/tag<br />
                    to be run against the next environment group
                  </span>
                  <br /><br />
                  <span>
                    Minimum Runs
                  </span>
                  <br />
                  <nb-select size="small">
                    <nb-option value="0">
                      None
                    </nb-option>

                    <nb-option *ngFor="let itx of row.data.environmentItx" [value]="itx">
                      {{itx}} Environment(s)
                    </nb-option>

                    <nb-option value="">
                      All Environments
                    </nb-option>
                  </nb-select>
                  <br /><br />

                  <span>
                    Minimum Successful Environment Plans
                  </span>
                  <br />
                  <nb-select size="small">
                    <nb-option value="0">
                      None
                    </nb-option>

                    <nb-option *ngFor="let itx of row.data.environmentItx" [value]="itx">
                      {{itx}} Environment(s)
                    </nb-option>

                    <nb-option value="">
                      All Environments
                    </nb-option>
                  </nb-select>
                  <br /><br />

                  <span>
                    Minimum Successful Environment Applies
                  </span>
                  <br />
                  <nb-select size="small">
                    <nb-option value="0">
                      None
                    </nb-option>

                    <nb-option *ngFor="let itx of row.data.environmentItx" [value]="itx">
                      {{itx}} Environment(s)
                    </nb-option>

                    <nb-option value="">
                      All Environments
                    </nb-option>
                  </nb-select>
                  <br /><br />

                  <button nbButton>Update</button>
                </nb-accordion-item-body>
              </nb-accordion-item>

              <nb-accordion-item>
                <nb-accordion-item-header>Add Environment</nb-accordion-item-header>
                <nb-accordion-item-body>
                  <nb-select>
                    <nb-option *ngFor="let environment of availableEnvironments" [value]="environment.id">{{ environment.attributes.name }}</nb-option>
                  </nb-select>
                  <br />
                  <br />
                  <button nbButton>Add</button>
                </nb-accordion-item-body>
              </nb-accordion-item>

              <nb-accordion-item>
                <nb-accordion-item-header>Delete</nb-accordion-item-header>
                <nb-accordion-item-body>
                  Delete Lifecycle Environment Group.<br /><br />
                  <b>Warning:</b> This will remove all associated environments and<br />
                  all workspaces associated to these environments for<br />
                  projects attached to this lifecycle
                  <br />
                  <br />
                  <button nbButton status="danger">Delete</button>
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>


          </ng-template>
        </td>
      </ng-container>


    </table>

  </nb-layout-column>
</nb-layout>